@font-face {
    font-family: "Outfit";
    src: url(../Outfit/static/Outfit-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Outfit";
    src: url(../Outfit/static/Outfit-Bold.ttf);
    font-weight: 700;
}